{% extends 'base.html.twig' %}
{% block body %}
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="container">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons" style="color: green;">comment</i>Name</div>
                <div class="collapsible-body">
                    <p><span>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</span>
                    </p>
                    <p>
                    <div class="right-align">
                        <a href="#"><i class="material-icons">delete</i></a>
                        <a class="modal-trigger" href="#modal1"><i class="material-icons">mode edit</i></a>
                    </div>
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons commentHeader">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">comment</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>



        </ul>
        </div>


        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA
                    bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA
                    bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA
                    bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA
                    bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA
                    bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of
                    textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch
                    of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of
                    textA bunch of textA bunch of textA bunch of textA bunch of textA bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
            </div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/inbox.js') }}"></script>
{% endblock %}